
.inputField{
    display: flex;
    border: 2px solid #d4d4d4;
    border-radius: 15px;
    padding: 5px;
    background: white;
    box-shadow: 2px 5px #ebebeb;
    margin-top: 10px;
}

.inputField .location{
    display: flex;
    width: 150px;
    flex: 1 90px;
    align-items: center;
}

.inputField .location p{
    font-size: 12px;
}

*:focus {
    outline: none;
}

.inputField  input{
    flex: 7;
    padding: 10px;
    border: none;
}

.inputField .location img{
    width: 16px;
    padding: 5px;
}

/* input */

