.card{
    background: white;
    padding: 10px;
    margin: 5px 0px;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
}

.cardHeader h3{
    color: #152b63;
    font-weight: bold;
}

.cardHeader p{
    color: #bbbbbb;
    font-size: 10px;
}